@using DMPackageManager.Website.Util;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DMPM</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">DMPM</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Main" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" href="#" id="documentation_dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Documentation
                            </a>
                            <div class="dropdown-menu" aria-labelledby="documentation_dropdown">
                                <a class="nav-link" asp-area="" asp-controller="Main" asp-action="Index">Installation</a>
                                <a class="nav-link" asp-area="" asp-controller="Main" asp-action="Index">Client Docs</a>
                                <a class="nav-link" asp-area="" asp-controller="Main" asp-action="Index">Making A Package</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="packages" asp-action="">Packages</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="https://github.com/DMPM-Team/">Source / Report Issue</a>
                        </li>
                        @if (UserUtil.IsLoggedIn(Context)) {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="user" asp-action="@UserUtil.UserFromContext(Context).username">My Packages</a>
                            </li>
                        }
                    </ul>
                </div>
                @if (UserUtil.IsLoggedIn(Context)) {
                    <a class="nav-link btn btn-outline-primary btn-sm" asp-area="" asp-controller="Main" asp-action="logout">Logged in as @UserUtil.UserFromContext(Context).username - Logout</a>
                } else {
                    <a class="nav-link btn btn-outline-secondary btn-sm" asp-area="" asp-controller="Main" asp-action="login">Sign in (GitHub)</a>
                }

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
