
@{
    ViewData["Title"] = "All packages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model DMPackageManager.Website.Models.Page.SearchablePackageList;
@using DMPackageManager.Website.Models.Database;
@using DMPackageManager.Website.Util;
@{
    string prevDisabled = !Model.packages.HasPreviousPage ? "disabled" : "";
    string nextDisabled = !Model.packages.HasNextPage ? "disabled" : "";
    string searchExists = !String.IsNullOrEmpty(Model.search_query) ? Model.search_query : null;
}
<h1 class="display-4">All packages</h1>
<div class="mb-1">
    <form method="get" class="form-inline">
        <div class="form-actions no-color">
            <input class="form-control" type="text" name="q" value="@Model.search_query" placeholder="Search for a package..." />&nbsp;<input type="submit" value="Search" class="btn btn-primary" />
        </div>

        @if (Model.packages.HasPreviousPage) {
            <a asp-controller="packages" asp-action="" asp-route-q="@searchExists" asp-route-p="@(Model.packages.PageIndex - 1)" class="ml-1 btn btn-primary @prevDisabled">Previous</a>
        }
        @if (Model.packages.HasNextPage) {
            <a asp-controller="packages" asp-action="" asp-route-q="@searchExists" asp-route-p="@(Model.packages.PageIndex + 1)" class="ml-1 btn btn-primary @nextDisabled">Next</a>
        }
    </form>
</div>
@foreach (Package P in Model.packages) {
    <div class="card mt-3">
        <div class="card-body">
            <h4><a asp-area="" asp-controller="package" asp-action="@P.package_name">@P.package_name</a> by <a asp-area="" asp-controller="user" asp-action="@P.owner.username">@P.owner.username</a></h4>
            <p class="text-secondary">
                <i class="fas fa-calendar-alt"></i>&nbsp;Created on @P.creation_date
                @if (!(Model.package_meta[P.id].last_update.CompareTo(DateTime.MinValue) == 0)) {
                    // ASP makes me wrap this in spans. Pain
                    <span>&nbsp;<i class="fas fa-edit"></i>&nbsp;Updated on @Model.package_meta[P.id].last_update</span>
                }

                @if (!(Model.package_meta[P.id].latest_version == null)) {
                    // ASP makes me wrap this in spans. Pain
                    <span>&nbsp;<i class="fas fa-tag"></i>&nbsp;Latest version: @Model.package_meta[P.id].latest_version</span>
                }
                @if (!(Model.package_meta[P.id].total_downloads == 0)) {
                    // ASP makes me wrap this in spans. Pain
                    <span>&nbsp;<i class="fas fa-download"></i>&nbsp;@Model.package_meta[P.id].total_downloads downloads</span>
                }
            </p>
            <p class="text-wrap">@P.description</p>
        </div>
    </div>
}

