
@{
    ViewData["Title"] = "All packages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model DMPackageManager.Website.Models.Page.SearchablePackageList;
@using DMPackageManager.Website.Models.Database;
@using DMPackageManager.Website.Util;
@{
    string prevDisabled = !Model.packages.HasPreviousPage ? "disabled" : "";
    string nextDisabled = !Model.packages.HasNextPage ? "disabled" : "";
    string searchExists = !String.IsNullOrEmpty(Model.search_query) ? Model.search_query : null;
}
<h1 class="display-4">All packages</h1>
<div class="mb-1">
    <form method="get" class="form-inline">
        <div class="form-actions no-color">
            <input class="form-control" type="text" name="q" value="@Model.search_query" placeholder="Search for a package..." />&nbsp;<input type="submit" value="Search" class="btn btn-primary" />
        </div>

        @if (Model.packages.HasPreviousPage) {
            <a asp-controller="packages" asp-action="" asp-route-q="@searchExists" asp-route-p="@(Model.packages.PageIndex - 1)" class="ml-1 btn btn-primary @prevDisabled">Previous</a>
        }
        @if (Model.packages.HasNextPage) {
            <a asp-controller="packages" asp-action="" asp-route-q="@searchExists" asp-route-p="@(Model.packages.PageIndex + 1)" class="ml-1 btn btn-primary @nextDisabled">Next</a>
        }
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <td>Name</td>
            <td>Description</td>
            <td>Author</td>
            <td>Date Created</td>
            <td>Date Updated</td>
            <td>Latest Version</td>
        </tr>
    </thead>
    <tbody>
        @foreach (Package P in Model.packages) {
        <tr>
            <td>@P.package_name</td>
            <td>@P.description</td>
            <td><a asp-area="" asp-controller="user" asp-action="@P.owner.username">@P.owner.username</a></td>
            <td>@P.creation_date</td>
            <td>TODO</td>
            <td>TODO</td>
        </tr>
        }
    </tbody>
</table>

