
@{
    ViewData["Title"] = @Model.package_owner + "'s packages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model DMPackageManager.Website.Models.Page.UserPackageList;
@using DMPackageManager.Website.Models.Database;
@using DMPackageManager.Website.Util;
@{
    string prevDisabled = !Model.packages.HasPreviousPage ? "disabled" : "";
    string nextDisabled = !Model.packages.HasNextPage ? "disabled" : "";
}
<h1 class="display-4">@Model.package_owner's packages</h1>
<div class="mb-1">
    @if (Model.own_packages) {
        // Check if we are looking at our own package list
        <a class="btn btn-success btn-sm" asp-controller="PackageManagement" asp-action="CreatePackage">Create Package</a>
    }
    @if (Model.packages.HasPreviousPage) {
        <a asp-controller="Data" asp-action="GetUserPackages" asp-route-userName="@Model.raw_username" asp-route-p="@(Model.packages.PageIndex - 1)" class="ml-1 btn btn-primary btn-sm @prevDisabled">Previous</a>
    }
    @if (Model.packages.HasNextPage) {
        <a asp-controller="Data" asp-action="GetUserPackages" asp-route-userName="@Model.raw_username" asp-route-p="@(Model.packages.PageIndex + 1)" class="ml-1 btn btn-primary btn-sm @nextDisabled">Next</a>
    }
</div>
@foreach (Package P in Model.packages) {
    <div class="card mt-3">
        <div class="card-body">
            <h4><a asp-controller="Data" asp-action="GetPackage" asp-route-packageTag="@P.package_name">@P.package_name</a> by <a asp-controller="Data" asp-action="GetUserPackages" asp-route-userName="@P.owner.username">@P.owner.username</a></h4>
            <p class="text-secondary">
                <i class="fas fa-calendar-alt"></i>&nbsp;Created on @P.creation_date
                @if (!(Model.package_meta[P.id].last_update.CompareTo(DateTime.MinValue) == 0)) {
                    // ASP makes me wrap this in spans. Pain
                    <span>&nbsp;<i class="fas fa-edit"></i>&nbsp;Updated on @Model.package_meta[P.id].last_update</span>
                }

                @if (!(Model.package_meta[P.id].latest_version == null)) {
                    // ASP makes me wrap this in spans. Pain
                    <span>&nbsp;<i class="fas fa-tag"></i>&nbsp;Latest version: @Model.package_meta[P.id].latest_version</span>
                }
                @if (!(Model.package_meta[P.id].total_downloads == 0)) {
                    // ASP makes me wrap this in spans. Pain
                    <span>&nbsp;<i class="fas fa-download"></i>&nbsp;@Model.package_meta[P.id].total_downloads downloads</span>
                }
            </p>
            <p class="text-wrap">@P.description</p>
        </div>
    </div>
}

